set number

set relativenumber
set scrolloff=2
set visualbell
set showmode
set showcmd

set ignorecase
set smartcase
set incsearch
set hlsearch

" Set conflicting handler preferences
sethandler <C-i> n-v-i:vim
sethandler <C-o> n-v-i:vim
sethandler <C-d> n-v-i:vim
sethandler <C-u> n-v-i:vim
sethandler <C-h> n-v-i:vim
sethandler <C-j> n-v-i:vim
sethandler <C-k> n-v-i:vim
sethandler <C-l> n-v-i:vim

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \s :action IdeaVim.ReloadVimRc.reload<CR>

let mapleader=" "

set commentary " https://github.com/tpope/vim-commentary
set surround " https://github.com/tpope/vim-surround
set highlightedyank
set NERDTree

" Copy into system clipboard
nnoremap <C-y> "+y
nnoremap <C-yy> "+yy
vnoremap <C-y> "+y

" Center screen when jumping to next match
nnoremap n nzz
nnoremap N Nzz
vnoremap n nzz
vnoremap N Nzz

" Center screen when moving up and down
nnoremap <C-u> <C-u>zz
nnoremap <C-o> <C-d>zz
vnoremap <C-u> <C-u>zz
vnoremap <C-o> <C-d>zz

" Pane navigation
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <C-k> <C-w>k
nnoremap <C-j> <C-w>j
nnoremap <C-m> :action MaximizeEditorInSplit<CR>

" Project
nnoremap \pr :action Maven.Reimport<cr>
nnoremap \pi :action ImportProject<cr>
nnoremap \pq :action CloseProject<cr>
nnoremap <leader>w :action WindowMenu<cr>
nnoremap <leader>W :action ManageRecentProjects<cr>
" nnoremap <leader>L :action PreviousProjectWindow<cr>
" nnoremap <leader>l :action NextProjectWindow<cr>

" Code navigation
nnoremap \f :action ActivateFindToolWindow<cr>
nnoremap \t :action ActivateProblemsViewToolWindow<cr>
nnoremap <leader>t :action ActivateTerminalToolWindow<cr>
nnoremap \r :action ActivateRunToolWindow<cr>
nnoremap <leader>t :action ActivateTerminalToolWindow<cr>
nnoremap \b :action ActivateBuildToolWindow<cr>
nnoremap <leader>b :action CompileDirty<cr>
nnoremap <leader>S :action SelectInProjectView<cr>
nnoremap <leader>os :action ActivateStructureToolWindow<cr>

nnoremap <leader>j :action MethodDown<cr>
nnoremap <leader>k :action MethodUp<cr>
nnoremap \f :action ActivateFindToolWindow<cr>
nnoremap cu :action ShowUsages<cr>
nnoremap cU :action FindUsages<cr>
nnoremap <leader>hc :action CallHierarchy<cr>
nnoremap <leader>ht :action TypeHierarchy<cr>
nnoremap <leader>c :action GotoClass<cr>
nnoremap <leader>fs :action GotoSymbol<cr>
nnoremap <leader>ff :action GotoFile<cr>
nnoremap <leader>fg :action FindInPath<cr>
nnoremap <leader>fS :action FileStructurePopup<cr>
nnoremap gd :action GotoDeclaration<cr>
nnoremap gD :action GotoTypeDeclaration<cr>
nnoremap <leader>i :action GotoImplementation<cr>
nnoremap <leader>a :action ShowIntentionActions<cr>
nnoremap <leader><S-e> :action GotoPreviousError<cr>
nnoremap <leader>e :action GotoNextError<cr>

" Wrap text with https://plugins.jetbrains.com/plugin/7234-wrap-to-column
nmap gqq :action com.andrewbrookins.idea.wrap.WrapAction<CR>
vmap gq :action com.andrewbrookins.idea.wrap.WrapAction<CR>

" Common actions
nnoremap <leader>oi :action OrganizeImports<cr>
nnoremap <leader>r :action Run<cr>
nnoremap <leader><S-r> :action RunClass<cr>
nnoremap <leader>n :action RenameElement<cr>

" Move lines
vnoremap J :m '>+1<cr>gv=gv
vnoremap K :m '<-2<cr>gv=gv
vnoremap < <gv
vnoremap > >gv

" Built-in navigation to navigated items works better
nmap <c-o> <Action>(Back)
nmap <c-i> <Action>(Forward)

" Diff
nnoremap ]c :action VcsShowNextChangeMarker<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]d :action NextDiff<cr>
nnoremap [d :action PreviousDiff<cr>
nnoremap <leader>hd :action Vcs.ShowDiffChangedLines<cr>
nnoremap <leader>hD :action Compare.SameVersion<cr>
nnoremap <leader>gb :action Git.CompareWithBranch<cr>
nnoremap <leader>hr :action Vcs.RollbackChangedLines<cr>

" Don't yank overridden text when pasting in visual mode
vnoremap <leader>p "_dP

nnoremap g; :action JumpToLastChange<Enter>

nnoremap g, :action JumpToNextChange<Enter>

nnoremap <leader>gc :action Github.Open.In.Browser<cr>
vnoremap <leader>gc :action Github.Open.In.Browser<cr>

" https://plugins.jetbrains.com/plugin/8262-find-pull-request
nnoremap <leader>gp :action com.github.shiraji.findpullrequest.action.FindPullRequestAction<cr>
nnoremap <leader>yp :action com.github.shiraji.findpullrequest.action.FindPullRequestCopyAction<cr>

nnoremap <leader>og :action Generate<cr>

" Font sizes
nnoremap <leader>yz :action EditorIncreaseFontSizeGlobal<cr>
nnoremap <leader>yZ :action EditorDecreaseFontSizeGlobal<cr>
nnoremap <leader>yr :action EditorResetFontSizeGlobal<cr>

nnoremap <leader>ym :action MergeAllWindowsAction<cr>

nnoremap <leader>or :action Github.Pull.Request.Review.In.Editor.Toggle<cr>

" NERDTree
nnoremap gt :NERDTreeFind<cr>
nnoremap gT :NERDTree<cr>
